.article-body{
  text-align : justify;
  font-size: 1.2em;
  font-family: 'Comfortaa', cursive;
}

.article-title{
  font-size: 1em;
}

.infos-sup{
  margin : 0;
}

/* Bouttons de partage */
.share{
  margin : 10px 0;
  box-shadow: 0 0.15rem 0.10rem rgba(0,0, 0, 0.15);
  border-radius: 0.25rem;
}


@keyframes myRotation {
  0%{
      transform:rotate(0deg);
  }
  100%{
      transform:rotate(calc(360deg));
  }
}
.sun{
  animation-name: myRotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.suggestion:hover{
  transform: scale(0.95);
  transition: all 0.5s ease-in-out;
}

/* formulaire de commentaire */
.form-control{
  margin-bottom: 1rem;
}

.comments-group{
  margin-top : 1rem;
  margin-left: 1rem;
}

.comments-group h4{
  margin-bottom: 1rem;
}

.comment-item{
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 15%);
  padding : 0.5rem
}

.comment-body{
  margin-top: 1rem;
}