body {
    padding : 10px;
    margin: auto;
    padding-bottom: 5px;
}

/*EN-TETE*/
ul{
    margin-bottom: 0    ;
}
.link-list{
}

.link-list > *{
    margin-right: 10px;
}

/*SLIDER*/
.carousel{
    width : 80%;
    margin : auto;
}
.carousel-inner{
    width : 100%;
    height : 300px;
}
.carousel-item img{
    height: 300px;
    width : 100%;
    border-radius : 0.5em;
}

.carousel-caption a{
    font-size : 1.2em;
    color : white;
    text-decoration : none;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption p:hover{
    text-decoration : underline;
}

/*URGENT*/
#urgent{
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin-top :10px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 1.3em;
    border-radius: 5px;
}

/*CONTENU DE LA PAGE*/
#page>h1{
    margin: 0;
}

legend{
    font-weight: bold;
    font-size: 2em;
}

.image_article{
    width: 300px;
    display:  flex;
    align-items: center;
    justify-content: space-around;
    border: 1px purple solid;
    margin-right: 10px;
}

.auteur_article, .heure_publication{
    color : blue;
    font-weight: bold;
}

.infos_supplementaires{
    text-align: right;
}

.legend{
    border: red 1px solid;
}


/*FOOTER*/
footer{
    background-color: black;
    color : white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:5px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #1090FF;
    border-radius: 5px;
}

#group1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#group1 ul{
    list-style-type: none;
}

#group1 a{
    color : black;
    text-decoration: none;
}

#group1 form input{
    width: 250px;
}

footer p{
    text-align: center;
}