.page{
    box-shadow: none !important;
    background-color: inherit !important;
}

.form{
    min-width : 50vw;
    padding: 0 1rem;
    color : white;
}

.form > *:not(:last-child){
    margin-bottom: 10px;
}

.form > div:last-child .btn:first-child{
    border-right: 2px solid white;
}
