./webfonts
./sprites
./fonts/fontawesome-webfont.eot
./fonts/fontawesome-webfont.svg
./fonts/fontawesome-webfont.ttf
./fonts/fontawesome-webfont.woff
./fonts/fontawesome-webfont.woff2
./fonts/fontawesome-webfont.otf
./fonts/slick.eot
./fonts/slick.svg
./fonts/slick.woff
./fonts/slick.ttf

./js/bootstrap.bundle.min.js
./js/bootstrap.js
./js/jquery-3.6.0.js
./js/jquery-migrate-3.3.2.js
./js/masonry.pkgd.min.js
./js/slick.js

./css/all.css
./css/bootstrap.css
./css/font-awesome.min.css
./css/slick-theme.css
./css/slick.css